.animal_modify {
  display: flex;
  justify-content: center;
  margin: 50px 0;

}



.imgBlock {
  width: 400px;
  height: 400px;
  border: 1rem double #8C5E58;
  margin-right: 50px;
  padding: 50px;




  .firstPic {
    img {
      width: 300px;
      height: 300px;
    }
  }

  .otherPic {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.modifyText {
  width: 500px;
  height: 500px;

  .modifyTextUl{
    text-align: start;
    line-height: 2.5;
    margin: 2rem 1.5rem;
    font-size: 20px;
  }

  label{
    font-size: 24px;
  }

  .modifyBtn{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
.reset , .submit{
  text-align: center;
  font-size: 18px;
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.5rem;
  transition: ease 0.1s;
  border: none;
  box-shadow: 2px 2px 2px gray;
  background-color: #FF7E6B;

  &:hover {
      background-color: #FFA69E;
  }
}
    
  }
}

//radio樣式
input[type="radio"] {
  cursor: pointer;
    width: 16px;
    height: 16px;
    position: relative;
    border: none;
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 50%;
      position: absolute;
    }
    &:checked::after {
      content: '';
      background-color: #8C5E58;
      width: 16px;
      height: 16px;
      top: -2px;
      left: -2px;
      border: 4px double #fff;
      border-radius: 50%;
      position: absolute;
    }
}