/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "./node_modules/@fortawesome/fontawesome-free/css/all.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff2ce;
  max-width: 1920px;
}
body button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
}
header img {
  margin: 45px 20px 10px 20px;
  width: 150px;
  height: 200px;
}
header .title {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  align-items: center;
}
header .title .drop_down_menu {
  display: flex;
  justify-content: center;
}
header .title .hideLi {
  margin: 50px;
  position: relative;
}
header .title .hideLi:hover .hideUl {
  display: block;
  z-index: 1;
}
header .title .hideLi:hover .hideLi_a {
  color: #A9F0D1;
  text-shadow: 2px 2px 2px white;
}
header .title .hideLi a {
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  color: black;
}
header .title .hideUl {
  width: 150px;
  text-align: center;
  border-radius: 1rem;
  line-height: 1.5;
  position: absolute;
  background-color: #A9F0D1;
  display: none;
  transition: all 0.2s ease-out;
}
header .title .hideUl li {
  margin: 10px 0;
}
header .title .hideUl li a {
  color: white;
}
header .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
header button {
  width: 150px;
  height: 60px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px gray;
  margin: 0 5px;
  background-color: #FF7E6B;
  color: white;
}
header button:hover {
  background-color: #FFA69E;
}

.frontFooter {
  max-width: 1920px;
  height: 500px;
  background-color: #FFA69E;
  display: flex;
  justify-content: space-around;
}
.frontFooter .footerImg {
  margin-left: 20px;
}
.frontFooter .footerCoverP {
  color: #8c5e58;
  font-size: 18px;
}
.frontFooter .footerIcon {
  line-height: 3;
  letter-spacing: 8px;
  text-align: center;
}
.frontFooter .footerText {
  width: 33%;
  margin: 50px 20px;
  font-size: 24px;
  color: #8c5e58;
  line-height: 3;
}
.frontFooter .footerMap {
  width: 33%;
  margin: 50px 20px;
}
.frontFooter .footerMapText {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px;
  color: #8c5e58;
  text-shadow: 1px 1px 1px #573e3a;
}
.frontFooter .footerMapLi {
  font-size: 24px;
  line-height: 2;
  margin-left: 40px;
  color: #8c5e58;
}

.homeBox {
  width: 80px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #8c5e58;
  opacity: 0.3;
  z-index: 5;
}
.homeBox .homeBoxP {
  font-size: 36px;
  color: #ffffff;
}
.homeBox:hover {
  opacity: 1;
  font-weight: bold;
  border-radius: 50%;
}

.animal_modify {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.imgBlock {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1rem double #8C5E58;
  margin-right: 50px;
  padding: 50px;
}
.imgBlock .upload {
  position: absolute;
  left: 150px;
  top: 20px;
}
.imgBlock .modifyMinPic {
  display: flex;
}
.imgBlock .firstPic img {
  width: 350px;
  height: 350px;
}
.imgBlock .otherPic img {
  width: 50px;
  height: 50px;
}

.modifyText {
  width: 500px;
  height: 500px;
}
.modifyText .modifyTextUl {
  text-align: start;
  line-height: 2.5;
  margin: 2rem 1.5rem;
  font-size: 20px;
  border: 2px solid black;
  background-color: white;
}
.modifyText .modifyTextUl li {
  text-align: center;
  font-weight: bold;
}
.modifyText label {
  font-size: 24px;
}
.modifyText .modifyBtn {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.modifyText .modifyBtn .reset,
.modifyText .modifyBtn .submit {
  text-align: center;
  font-size: 18px;
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.5rem;
  transition: ease 0.1s;
  border: none;
  box-shadow: 2px 2px 2px gray;
  background-color: #FF7E6B;
}
.modifyText .modifyBtn .reset:hover,
.modifyText .modifyBtn .submit:hover {
  background-color: #FFA69E;
}

.male,
.female,
.cat,
.dog {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: relative;
  border: none;
}
.male::before,
.female::before,
.cat::before,
.dog::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
}
.male:checked::after,
.female:checked::after,
.cat:checked::after,
.dog:checked::after {
  content: "";
  background-color: #8C5E58;
  width: 16px;
  height: 16px;
  top: -2px;
  left: -2px;
  border: 4px double #fff;
  border-radius: 50%;
  position: absolute;
}

.animal_adoption {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.adoptionImg {
  width: inherit;
  height: inherit;
}

.adoption {
  text-align: center;
  font-size: 18px;
  margin: 1.5rem auto;
  padding: 1rem 0.5rem;
  color: white;
  border-radius: 0.5rem;
  transition: ease 0.1s;
  border: none;
  box-shadow: 2px 2px 2px gray;
  background-color: #FF7E6B;
}
.adoption:hover {
  background-color: #FFA69E;
}

.animal_delete {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.delete,
.quit,
.update {
  text-align: center;
  font-size: 18px;
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.5rem;
  transition: ease 0.1s;
  border: none;
  box-shadow: 2px 2px 2px gray;
  background-color: #FF7E6B;
}
.delete:hover,
.quit:hover,
.update:hover {
  background-color: #FFA69E;
}

.filesTitle {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filesTitle .filesTitleH2 {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #8C5E58;
}
.filesTitle .filesTitleBtn {
  display: flex;
  justify-content: space-around;
}
.filesTitle .filesTitleBtn button {
  width: 100px;
  height: 30px;
  margin: 20px;
  background-color: rgb(182, 180, 180);
  font-size: 18px;
  font-weight: bold;
}
.filesTitle .filesTitleBtn button:hover {
  background-color: #8C5E58;
}

.filesTitleMinBtn {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}
.filesTitleMinBtn .MinPage {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.filesTitleMinBtn .MinPage:hover {
  background-color: #8C5E58;
}

.filesBanner {
  margin: 50px;
}

.filesPic {
  width: 250px;
  height: 250px;
  background-image: url("https://pansci.asia/wp-content/uploads/2011/04/133050s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid gray;
}

.filesText {
  width: 250px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px gray;
}
.filesText ul {
  font-size: 24px;
  font-weight: bold;
}

svg.like {
  z-index: 10;
  border-radius: 100%;
  transform: scale(0.3);
  transform-origin: 50% 50%;
  fill: gray;
  cursor: pointer;
}

body.liked svg.like {
  animation: blink 1s forwards;
}
@keyframes blink {
  10% {
    transform: scale(0.42);
    fill: #FFA69E;
  }
  100% {
    fill: #ff5a5a;
  }
}
.banner {
  display: flex;
  justify-content: center;
  margin: 0;
}
.banner .text {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.banner .textTitle {
  font-size: 96px;
  color: black;
}
.banner .pArea {
  width: 600px;
  height: 100px;
  margin-top: 50px;
}
.banner .pArea .pAreaText {
  font-size: 32px;
}
.banner .meetbtn {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.banner button {
  width: 380px;
  height: 100px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px gray;
  margin: 0 5px;
  background-color: #FF7E6B;
  color: white;
}
.banner button:hover {
  background-color: #FFA69E;
}
.banner .pic {
  width: 400px;
  height: 500px;
  background-image: url("https://j.gifs.com/DqQrry.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.pruductWall {
  position: relative;
  background: #FFA69E;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 50px 0;
  padding: 0 20px;
  --swiper-pagination-color: #FF7E6B;
}

.pruductBackGround {
  width: 100%;
  height: 450px;
  --swiper-navigation-color: #8C5E58;
}

.pruductSlide {
  background-position: center;
  background-size: cover;
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
}

.saleWord {
  width: 300px;
  position: absolute;
  bottom: 25px;
  right: 27%;
  z-index: 1;
  color: black;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 3px gray;
  background-color: white;
}

.swiper-slide img {
  height: 300px;
  position: absolute;
  top: 20%;
  right: 27%;
}

hr.hrStyle {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.animalTitle {
  font-size: 96px;
  margin: 50px;
}

.animalCardWall {
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 50px 0;
  padding: 0 20px;
  --swiper-pagination-color: #8C5E58;
}

.animalCardBackGround {
  width: 100%;
  height: 600px;
}

.animalCardSlide {
  background-position: center;
  background-size: cover;
  position: relative;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
}

.animalCardImg {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 3rem 0 0 0;
}

.aniPic1 {
  background-image: url("../img/animalFrontCard_Img/animalFrontCardImg_1.jpg");
}

.aniPic2 {
  background-image: url("../img/animalFrontCard_Img/animalFrontCardImg_2.jpg");
}

.aniPic3 {
  background-image: url("../img/animalFrontCard_Img/animalFrontCardImg_3.jpg");
}

.aniPic4 {
  background-image: url("../img/animalFrontCard_Img/animalFrontCardImg_4.jpg");
}

.aniPic5 {
  background-image: url("../img/animalFrontCard_Img/animalFrontCardImg_5.jpg");
}

.aniPic6 {
  background-image: url("../img/animalFrontCard_Img/animalFrontCardImg_6.jpg");
}

.aniPic7 {
  background-image: url("../img/animalFrontCard_Img/animalFrontCardImg_7.jpg");
}

.animalCardText {
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 3rem 0;
}
.animalCardText .aniP {
  margin: 10px;
  line-height: 1.5;
}
.animalCardText .aniBtn {
  width: 200px;
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px gray;
  background-color: #FF7E6B;
  color: white;
}
.animalCardText .aniBtn:hover {
  background-color: #FFA69E;
}

.teachInfo {
  display: flex;
  justify-content: center;
}

.teachInfoImgBot {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 0 20px;
  margin: 0 100px 50px 0;
}

.infoImgBot1 {
  width: 400px;
  height: 400px;
  border: 1rem double #8C5E58;
  position: absolute;
}

.infoImgBot2 {
  width: 400px;
  height: 400px;
  background-color: rgb(168, 156, 156);
  position: absolute;
  left: 50px;
  bottom: 30px;
}

.infoImgBot3 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 135px;
  bottom: -16px;
  background-image: url("../img/teachInfo_Img/infoPic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoTextTitle {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.infoTextOutside {
  display: flex;
  justify-content: center;
}

.teachInfoTextBot {
  width: 600px;
  height: 400px;
}

.infoTextUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoTextHideLi {
  font-weight: 600;
  width: 250px;
  margin: 50px;
  border-bottom: 0.2rem solid #8C5E58;
  position: relative;
  padding: 1rem 0.5rem;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
}
.infoTextHideLi:hover .infoTextHideUl {
  opacity: 1;
}

.infoTextHideUl {
  width: 400px;
  height: 300px;
  margin-top: 20px;
  line-height: 2.5;
  text-align: left;
  font-weight: bold;
  padding-left: 30px;
  position: absolute;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.infoTextHideUl li {
  margin: 5px 0;
}

.animalNews {
  font-size: 96px;
  margin: 50px;
}

.newsBoxOutside {
  display: flex;
  margin: 0 50px;
  justify-content: space-around;
}

.newsBox {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 400px;
  height: 600px;
  background-color: #8C5E58;
  border-radius: 0.5rem 2rem;
}
.newsBox img {
  width: 400px;
  height: 400px;
  border-radius: 0 2rem 0 0;
}
.newsBox .newsP {
  margin: 20px;
  font-size: 24px;
  color: #ffffff;
}
.newsBox .newsTextBtn {
  width: 80px;
  text-align: center;
  font-size: 24px;
  margin: 1.5rem;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px gray;
  background-color: #FF7E6B;
}
.newsBox .newsTextBtn:hover {
  background-color: #FFA69E;
}

.animalNewsBtn {
  display: flex;
  justify-content: center;
}

.newsBtn {
  width: 250px;
  text-align: center;
  font-size: 36px;
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  color: white;
  border-radius: 0.5rem 2rem;
  transition: ease 0.1s;
  border: none;
  box-shadow: 2px 2px 2px gray;
  background-color: #FF7E6B;
}
.newsBtn:hover {
  background-color: #FFA69E;
}

.member-body main .member-page {
  padding: 40px 0 0;
}
.member-body main .member-page .member-wrap {
  width: 480px;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 1px 3px #665e54;
}
.member-body main .member-page .member-wrap .title-wrap {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #ff7e6b;
}
.member-body main .member-page .member-wrap .title-wrap .title-box {
  margin: 0 10px;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
.member-body main .member-page .member-wrap .title-wrap .title-box p a {
  display: block;
  padding: 20px 30px 15px;
  color: #fff;
}
.member-body main .member-page .member-wrap form {
  background-color: #fff;
  padding: 30px 0;
}
.member-body main .member-page .member-wrap form .form-item .input-box {
  display: flex;
  width: 300px;
  margin: 20px auto 15px;
}
.member-body main .member-page .member-wrap form .form-item .input-box label {
  width: 3rem;
  padding: 0 15px;
  line-height: 2rem;
}
.member-body main .member-page .member-wrap form .form-item .input-box input {
  width: 100%;
  padding-left: 10px;
  line-height: 2rem;
  border: 1px solid #777;
  border-radius: 4px;
  color: #665e54;
  font-weight: 700;
}
.member-body main .member-page .member-wrap form .form-item .input-box input:focus {
  outline: none;
  border: 1px solid #ffa69e;
}
.member-body main .member-page .member-wrap form .form-item .alert-text {
  width: 30%;
  height: 0.5rem;
  margin: 0 auto;
  color: #f00;
  font-size: 0.5rem;
}
.member-body main .member-page .member-wrap form button {
  margin: 24px 164px 6px;
  padding: 10px 60px;
  border: none;
  border-radius: 4rem;
  background-color: #ff7e6b;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1019607843);
  transition: 0.3s;
}
.member-body main .member-page .member-wrap form button:hover {
  background-color: #ffa69e;
  color: #665e54;
  box-shadow: 0px 15px 20px #f3c0bc;
  transform: translateY(-7px);
  cursor: pointer;
}

.cart {
  width: 100%;
  height: 100vh;
  background-color: #fff7f8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart .product {
  width: 100%;
  height: 75px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart .product img {
  width: 50px;
  height: 50px;
}
.cart .product input {
  width: 50px;
  height: 20px;
}

button {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px gray;
  margin: 0 5px;
  background-color: #FF7E6B;
  color: white;
  cursor: pointer;
  transform: 1.2;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #FFA69E;
}/*# sourceMappingURL=main.css.map */