.checkoutForm {
    width: 100%;
    height: 100vh;
    background-color: #fff7f8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .product {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .product .name {
        font-weight: bold;
    }

    .product .price {
        color: green;
    }
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.product .name {
    font-weight: bold;
}

.product .price {
    color: green;
}

footer {
    max-width: 1920px;
    height: 500px;
    background-color: #FFA69E;
    display: flex;
    justify-content: space-around;

    .footerImg {
        margin-left: 20px;
    }

    .footerCoverP {
        color: #8c5e58;
        font-size: 18px;
    }

    .footerIcon {
        line-height: 3;
        letter-spacing: 8px;
        text-align: center;
    }

    .footerText {
        width: 33%;
        margin: 50px 20px;
        font-size: 24px;
        color: #8c5e58;
        line-height: 3;
    }

    .footerMap {
        width: 33%;
        margin: 50px 20px;
    }

    .footerMapText {
        font-size: 30px;
        font-weight: bolder;
        margin: 20px;
        color: #8c5e58;
        text-shadow: 1px 1px 1px #573e3a;
    }

    .footerMapLi {
        font-size: 24px;
        line-height: 2;
        margin-left: 40px;
        color: #8c5e58;
    }
}